<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Погода</title>
    <link rel="stylesheet" href="assets/bootstrap-4.1.3-dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular.min.js"></script>
</head>
<body>
<div ng-app="CounterApp" class="container" ng-init="city='Москва';selectedCity=1">
    <div class="header navbar sticky-top justify-content-md-center text-center">
            <span ng-controller="CounterController">{{time | date:'hh:mm:ss'}}</span>&nbsp;
            <button ng-class="{'btn-primary':selectedCity === 1}" type="button" class="btn"
                    ng-click="city = 'Москва';selectedCity = 1">Москва
            </button>&nbsp;
            <button ng-class="{'btn-primary':selectedCity === 2}" type="button" class="btn"
                    ng-click="city = 'Санкт-Петербург';selectedCity = 2">Санкт-Петербург
            </button>&nbsp;
            <button ng-class="{'btn-primary':selectedCity === 3}" type="button" class="btn"
                    ng-click="city = 'Екатеринбург';selectedCity = 3">Екатеринбург
            </button>
    </div>
    <div class="row justify-content-md-center">
        <div class="col col-lg-6">
            <h2>Погода в городе: {{ city }}</h2>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="card col col-lg-2">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col col-lg-2">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below </p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col col-lg-2">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="card col col-lg-2">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col col-lg-2">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card col col-lg-2">
            <div class="card-body">
                <h5 class="card-title">Special title treatment</h5>
                <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

<script>
    angular.module('CounterApp', [])
        .controller('CounterController', function ($scope, $timeout) {
            $scope.time = new Date();
            var updateCounter = function () {
                $scope.time = new Date;
                $timeout(updateCounter, 1000);
            };
            updateCounter();
        });
</script>
</body>
</html>